body {
    background-image: url('https://t.mwm.moe/fj');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

footer {
    text-align: center;
    margin-top: 50px;
    background-color: rgba(240, 240, 240, 0.8);
    padding: 10px;
    border-top: 1px solid #ccc;
    border-radius: 0 0 20px 20px;
}

.qrcode {
    text-align: center;
}

.qrcode img {
    max-width: 50%; /* 控制图片最大宽度为容器的50% */
    height: auto;
    margin: 20px 0;
}

.sponsor {
    text-align: center;
    margin-top: 20px;
}

.sponsor img {
    max-width: 50%; /* 控制图片最大宽度为容器的50% */
    height: auto;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}
h3 {
    color: rgba(54, 199, 212, 0.653);
}
h5 {
    color: rgba(61, 167, 223, 0.736);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.status-box {
    text-align: center;
    color: white;
}

.status-spinner {
    margin-bottom: 20px;
}
.web_notice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99999;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 320px;
    background: #FFF;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    padding: 50px 40px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

h3 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.notice-content {
    font-size: 16px;
    margin-top: 26px;
    line-height: 30px;
    color: #999;
}

.notice-content a {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    line-height: 60px;
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 32px;
    width: 80%;
}



